header {
  height: 100px;
  background-color: black;
  display: flex;
}

header > div {
  height: 50px;
  margin: 25px;
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

header img {
  height: 50px;
  background-color: white;
  border-radius: 100px;
  margin: 10px;
  align-self: center;
}

div input {
  background-color: darkgray;
  margin: 10px;
  width: 250px;
}

header ul {
  display: flex;
  /* align-items: flex-end; */
}

header ul li {
  color: white;
  margin: 10px;
}

.userInfo {
  background-color: lightblue;
  height: 250px;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.workspaceInfo {
  background-color: coral;
}
